.donation-form {
  background: url("../../images/donate.jpg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.donation-form::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: -1;
}

.donation-form .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  animation: FadeDown 800ms ease-in-out forwards;
  opacity: 0;
}

.donation-form h1 {
  color: #fff;
  font-size: 2.7rem;
  margin-bottom: 1.5rem;
}

.donation-form input {
  width: 500px;
  height: 2rem;
  margin: 0.9rem 0;
  padding: 1rem;
  border: none;
}

.donation-form input:focus {
  background: #000000b6;
  color: #ff8800;
  outline-color: #ff8800;
}

.donation-form .button-solid {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  height: 2.7rem;
  text-align: center !important;
}

@media (max-width: 640px) {
  .donation-form h1 {
    font-size: 2rem;
  }

  .donation-form .button-solid {
    width: 100%;
  }

  .donation-form input {
    width: 265px;
  }
}
